*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner {
  height: 80vh;
  padding: 80px;
  background-color: rgb(255, 238, 218);
}
.banner-left{
    padding-right: 50px;
}

.banner-heading > h1 {
  font-size: 4.5rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  line-height: 100px;
}

.banner-heading > h1 > span {
  height: max-content;
  background-color: rgb(253, 229, 52);
}

.banner-content {
  padding: 30px 8px 30px 80px;
}

.banner-content > span {
  background-color: rgb(253, 229, 52);
  text-transform: uppercase;
  padding: 3px 10px;
  font-weight: 500;
  letter-spacing: 2px;
}

.banner-content > p {
  padding: 20px 0px;
  font-size: 28px;
  text-align: justify;
  word-break: break-all;
  /* font-weight: 500; */
  /* color: ; */
}

.advertise {
    width: 85%;
    height: 400px;
    background-color: rgb(32, 18, 18);
    border: 4px solid yellow;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.advertise > img {
    width: 70%; /* Make image width responsive */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Allow positioning within the container */
    top: 85%; /* Center the image vertically */
    left: 30%; /* Center the image horizontally */
    transform: translate(-50%, -50%); 
    z-index: 1;
}

.advertise-content{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    float: inline-end;
    text-align: center;
}
.advertise-content > h1{
    color: yellow;
    letter-spacing: 1px;
    font-size: 38px;
}

.advertise-content > h2{
    color: yellow;
    letter-spacing: 1px;
    font-size: 32px;
}

.advertise-content > h4{
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: 100;
    /* font-size: 36px; */
}

.advertise-content > button {
    width: 150px;
    margin: 15px auto;
    padding: 8px;
    background-color: yellow;
    border: 2px solid wheat;
    border-radius: 4px;
}

.enroll-button {
  background-color: rgb(233, 0, 0);
  color: yellow;
  border: none;
  padding: 8px 15px;
  font-size: 18px;
}

.navbar-list > ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* gap: 50px; */
  font-size: 20px;
  font-weight: bold;
  /* background-color: brown; */
}


.banner-right {
    height: 100vh;
    background-color: rgb(32, 18, 18);
    color: white;
}

.registration-details {
    padding: 40px;
    background-color: antiquewhite;
    height: 100%;
}