* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  height: max-content;
  padding: 80px;
  /* background-color: rgb(255, 238, 218); */
  background: linear-gradient(to bottom, rgb(255, 238, 218) 70%, #ffffff 50%);
}

.banner-left {
  padding-right: 50px;
}

.banner-heading > h1 {
  font-size: 4.5rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  line-height: 100px;
}

.banner-heading > h1 > span {
  height: max-content;
  background-color: rgb(253, 229, 52);
}

.banner-content {
  padding: 30px 8px 30px 80px;
}

.banner-content > span {
  background-color: rgb(253, 229, 52);
  text-transform: uppercase;
  padding: 3px 10px;
  font-weight: 500;
  letter-spacing: 2px;
}

.banner-content > p {
  padding: 20px 0px;
  font-size: 24px;
  text-align: justify;
  color: black;
  /* word-break: break-all; */
  /* font-weight: 500; */
}

.advertise {
  width: 85%;
  height: 400px;
  background-color: rgb(32, 18, 18);
  border: 4px solid yellow;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.advertise > img {
  width: 70%; /* Make image width responsive */
  height: auto; /* Maintain aspect ratio */
  position: absolute; /* Allow positioning within the container */
  top: 85%; /* Center the image vertically */
  left: 30%; /* Center the image horizontally */
  transform: translate(-50%, -50%);
  z-index: 1;
}

.advertise-content {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  float: inline-end;
  text-align: center;
}
.advertise-content > h1 {
  color: yellow;
  letter-spacing: 1px;
  font-size: 38px;
}

.advertise-content > h2 {
  color: yellow;
  letter-spacing: 1px;
  font-size: 32px;
}

.advertise-content > h4 {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  font-weight: 100;
  /* font-size: 36px; */
}

.advertise-content > button {
  width: 150px;
  margin: 15px auto;
  padding: 8px;
  color: black;
  background-color: yellow;
  border: 2px solid wheat;
  border-radius: 4px;
}

.enroll-button {
  background-color: rgb(233, 0, 0);
  color: yellow;
  border: none;
  padding: 8px 15px;
  font-size: 18px;
}

.navbar-list > ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* gap: 50px; */
  font-size: 20px;
  font-weight: bold;
  /* background-color: brown; */
}

.banner-right {
  height: max-content;
  padding-left: 80px;
  /* background-color: rgb(32, 18, 18); */
  color: white;
  background: transparent;
}

.registration-details {
  padding: 40px;
  background-color: rgb(28, 28, 28);
  height: 100%;
  border: 6px solid rgb(255, 235, 17);
  border-radius: 25px;
  text-align: center;
}

.registration-details > h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 44px;
  font-weight: 100;
}
.registration-details p {
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: rgb(181, 173, 173);
}

.registration-details > p > span {
  background-color: rgb(253, 229, 52);
  color: black;
  padding: 1px 10px;
  font-weight: 500;
  letter-spacing: 2px;
}

/* .registration-details input {
  width: 100%;
  position: relative;
  margin-top: 20px;
  padding: 15px;
  background-color: #fff1dd;
  border-radius: 10px;
} */

.phone-details select {
  width: 15%;
  display: inline-block;
  margin-top: 20px;
  padding: 15px;
  background-color: #fff1dd;
  border-radius: 10px;
}

.phone-details input {
  position: relative;
  width: 83%;
}

.registration-details h4 {
  margin-top: 15px;
}

.form input {
  margin-top: 10px;
  padding: 15px 10px;
  background-color: #fff1dd;
  border-radius: 10px;
}

.form select {
  margin-top: 10px;
  padding: 12px 5px;
  background-color: #fff1dd;
  border-radius: 10px;
  font-size: 18px;
}

.register-button {
  padding: 10px;
  background-image: radial-gradient(rgb(223, 223, 2) 10%, transparent 10%);
  background-size: 1cm 1cm;
  background-repeat: repeat;
}

.register-button > button {
  width: 100%;
  padding: 1px;
  font-size: 14px;
  color: yellow;
  background-color: rgb(254, 59, 72);
}

.content-partner {
  padding: 20px 80px;
  height: fit-content;
}

.content-partner-left {
  padding: 0px 60px;
}

.content-partner-left > h1 {
  margin-bottom: 20px;
  font-size: 54px;
  text-decoration: underline;
  text-decoration-color: yellow;
}

.content-partner-left > p {
  margin: 30px 0px;
  font-size: 22px;
}

.content-partner-logo {
  width: 100%;
}

.mobile-image {
  background: url('../images/background-dots-snippet.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
}

.instructor {
  padding: 80px 0px 0px 80px;
  background-color: rgb(254, 59, 72);
  /* background: linear-gradient(to bottom, rgb(255, 238, 218) 70%, #ffffff 50%); */
  /* clip-path: circle(22.5% at 74% 100%); */
  overflow: hidden;
  position: relative;
  /* clip-path: circle(19.6% at 80% 100%); */

}


.instructor-intro > span {
  background-color: rgb(253, 229, 52);
  text-transform: uppercase;
  padding: 3px 10px;
  font-weight: 500;
  letter-spacing: 2px;
}

.instructor-intro > h1 {
  margin-top: 30px;
  font-size: 52px;
  color: white;
}
.instructor-intro > p {
  margin-top: 30px;
  font-size: 28px;
  color: rgb(48, 48, 48);
}

.rating-div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: white;
}

.rating-div > img {
  width: 50%;
}
.rating-div > h4 {
  color: rgb(49, 48, 48);
}

.instructor-image > img {
  height: 100%;
  /* position: relative; */
  /* right: 100px;
  top: 0px; */
}

.webinar-date > span {
  position: relative;
  bottom: 10%;
  /* left: 10%; */
  background-color: rgb(253, 229, 52);
  text-transform: uppercase;
  padding: 3px 10px;
  font-weight: 500;
  letter-spacing: 2px;
}

.why-cma-section {
  padding: 80px;
  background-color: rgb(255, 242, 226);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/background-dots-snippet-pink.jpg');
  background-position: bottom left;
  background-repeat: no-repeat;

}


.why-cma-header {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-cma-header > h1 {
  font-size: 52px;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: rgb(235, 235, 7);
}
.why-cma-header-paragraph {
  text-align: center;
  font-size: 25px;
  /* padding: 5px 150px; */
}

.course-info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.course-info > div {
  padding: 10px;
  border: 2px solid rgb(145, 142, 142);
  border-radius: 5px;
}



.program-details {
  background-color: white;

  border: 1px solid yellow;
  border-radius: 20px;
}

.program-details >  div {

  padding: 20px 80px;
  color: rgb(72, 71, 71);
  font-weight: 300;
}

.program-details h2 {
  line-height: 1.6;
}

.program-details-right > div {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
}

.more-info {
  padding: 80px;
  /* gap: 40px; */
}

.more-info > div {
  width: 300px;
  height: 300px;
  border: 6px solid rgb(251, 72, 72);
  border-radius: 15px;
  padding: 25px;
}

.cards h4 {
  font-size: 36px;
  line-break: strict;
  font-weight: 500;
}

.cards h2 {
  font-size: 58px;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: rgb(234, 234, 48);
}

.cards-img {
  position: relative;
  height: 60px;
}

.footer-section {
  padding: 80px;
  background-color: rgb(241, 37, 50);
  text-align: center;
  display: flex;
  justify-content: center;
  background-image: url('../images/background-snippet-red.jpg'), url('../images/background-snippet-red-mirrored.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right center; 
  background-size: contain; 
}

.contact-details {
  width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.referral-info {
  margin-top: 30px;
  /* width: 650px; */
  height: 150px;
  text-align: center;
  border: 5px dashed white;
  border-radius: 20px;
  padding: 20px;
  color: white;
  /* text-center" style="width: 650px; height: 150px; border: 5px dashed white; */
}

.referral-info > button {

  position: absolute;
  bottom: -40px;
  background-color: rgb(18, 18, 18);
  color: yellow;
  font-size: 1.5em;
  padding: 10px 20px;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 10px;
}

.support-info {
  margin-top: 70px;
  color: rgb(231, 226, 226);
}


@media screen and (max-width: 768px)  {
  .banner, .banner-content, .banner-right, .registration-details, .content-partner, .content-partner-left, .instructor, .why-cma-section, .program-details>div, .more-info{
    padding: 20px;
  }

  .why-cma-header-paragraph, .why-cma-header{
    text-justify: justify;
    padding: 10px;
    
  }

  .advertise {
    width: 100%;
  }
}

@media screen and (max-width: 540px){
  .referral-info > button {    
    font-size: 0.875rem; /* Adjust font size */
    padding: 0.175rem 0.75rem;
  }
}
